@import "tailwindcss";

@import "../styles/globals/reset";
@import "../styles/globals/variables";
@import "../styles/globals/typography";
@import "../styles/globals/theme";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D1A1C;
    --foreground: #96A5BB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
